docs/Meta 廣告概念生成引擎.sanitized.json
{
  "name": "Meta е»Је‘ҠжҰӮеҝөз”ҹжҲҗеј•ж“Һ",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-market",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "67ba601f-77e8-4bd9-908a-379d10b409f8",
      "name": "Webhook - Analyze Market",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        144
      ],
      "webhookId": "__FILL_WEBHOOK_ID__"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "competitor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "concept",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "e50174ac-3d7e-4f3e-86cc-95a668622da0",
      "name": "Switch - Task Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\nconst urls = Array.isArray(body.urls) ? body.urls.filter((url) => typeof url === 'string' && url.trim() !== '') : [];\n\nif (!body.productName || urls.length === 0) {\n  throw new Error('competitor жөҒзЁӢйңҖиҰҒ productName иҲҮиҮіе°‘дёҖеҖӢ urlsгҖӮ');\n}\n\nreturn urls.map((url, index) => ({\n  json: {\n    workflowType: 'competitor',\n    productName: body.productName,\n    market: body.market ?? 'TW',\n    originalUrl: url,\n    scrapeIndex: index + 1,\n    firecrawlPayload: {\n      url,\n      formats: ['markdown']\n    }\n  }\n}));"
      },
      "id": "a3f49feb-7f32-4cd6-8c66-aafb7d688c20",
      "name": "Code - Prepare Competitor URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __FIRECRAWL_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.firecrawlPayload }}",
        "options": {}
      },
      "id": "6b91f4be-37d4-4878-8a9a-ca486debd2a1",
      "name": "HTTP - Firecrawl Scrape (Competitor)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst body = $('Webhook - Analyze Market').first().json.body ?? {};\nconst sections = items.map((item, index) => {\n  const payload = item.json;\n  const sourceUrl = payload.originalUrl ?? payload.firecrawlPayload?.url ?? `дҫҶжәҗ ${index + 1}`;\n  const markdown = payload.data?.markdown ?? payload.markdown ?? payload.content ?? 'иіҮж–ҷдёҚи¶і';\n  return `дҫҶжәҗ ${index + 1}\\nURL: ${sourceUrl}\\n\\n${markdown}`;\n});\nconst scrapedData = sections.join('\\n\\n-----\\n\\n');\nconst productName = body.productName ?? 'жңӘжҸҗдҫӣ';\nconst market = body.market ?? 'жңӘжҸҗдҫӣ';\nconst prompt = `дҪ зҸҫеңЁжҳҜдёҖдҪҚй Ӯе°–зҡ„ Meta е»Је‘Ҡзӯ–з•ҘйЎ§е•ҸиҲҮеёӮе ҙеҲҶжһҗеё«гҖӮ\\nи«Ӣж №ж“ҡд»ҘдёӢ <scraped_data> е…§зҡ„з«¶е“Ғз¶Ій Ғж–Үеӯ—пјҢз”ўеҮәеҸҜзӣҙжҺҘзөҰе•ҶеӢҷз«Ҝй–ұи®Җзҡ„е°ҲжҘӯеҲҶжһҗгҖӮ\\n\\nд»»еӢҷиҰҒжұӮпјҡ\\n1. жҸҗз…үз«¶е“Ғж ёеҝғиіЈй»һпјҡзёҪзөҗйҖҷе№ҫеҖӢз«¶е“Ғдё»жү“зҡ„жңҖеӨ§е„ӘеӢўгҖӮ\\n2. жүҫеҮәеёӮе ҙз—ӣй»һпјҡж №ж“ҡй Ғйқўе…§е®№пјҢжҺЁж–·ж¶ҲиІ»иҖ…жңӘиў«ж»ҝи¶ізҡ„жёҙжңӣгҖҒйЎ§ж…®жҲ–жҠұжҖЁгҖӮ\\n3. еӨҡжЁЈеҢ–жҰӮеҝөе»әиӯ°пјҡйҮқе°ҚжҲ‘зҡ„з”ўе“ҒжҸҗеҮә 5 еҖӢе®Ңе…ЁдёҚеҗҢзҡ„е»Је‘ҠеҲҮе…ҘжҰӮеҝөпјҢжҜҸеҖӢжҰӮеҝөйғҪеҝ…й ҲеҢ…еҗ«пјҡжҰӮеҝөеҗҚзЁұгҖҒзӣ®жЁҷе®ўзҫӨгҖҒеҲҮе…Ҙз—ӣй»һгҖҒж–ҮжЎҲж–№еҗ‘гҖӮ\\n4. иӢҘиіҮж–ҷе“ҒиіӘдёҚи¶іпјҢдёҚиғҪеҸӘеҒңеңЁгҖҢиіҮж–ҷдёҚи¶ігҖҚпјӣеҝ…й ҲйЎҚеӨ–ијёеҮәгҖҢе»әиӯ°дёӢдёҖжӯҘгҖҚпјҢе…·й«”е‘ҠиЁҙдҪҝз”ЁиҖ…еҰӮдҪ•иЈңд»¶пјҢи®“зі»зөұдёӢж¬ЎиғҪжӢҝеҲ°еҸҜеҲҶжһҗиіҮж–ҷгҖӮ\\n\\nиЈңе……з”ўе“ҒиіҮиЁҠпјҡ\\nжҲ‘зҡ„з”ўе“ҒеҗҚзЁұпјҡ${productName}\\nзӣ®жЁҷеёӮе ҙпјҡ${market}\\n\\nиіҮж–ҷдёҚи¶іжҷӮзҡ„иҷ•зҗҶиҰҸеүҮпјҡ\\n- иӢҘ <scraped_data> дё»иҰҒжҳҜе®үе…Ёй©—иӯүй ҒгҖҒзҷ»е…Ҙй ҒгҖҒйҳ»ж“Ӣй ҒгҖҒз©әзҷҪй ҒгҖҒе°ҺиҪүй ҒпјҢи«ӢжҳҺзўәжҢҮеҮәзӣ®еүҚж“·еҸ–е…§е®№дёҚи¶ід»Ҙж”ҜжҢҒе®Ңж•ҙеҲӨж–·гҖӮ\\n- д»Қз„¶иҰҒзӣЎйҮҸеҫһеҸҜи®Җе…§е®№жҸҗз…үжңүйҷҗиіҮиЁҠпјҢдёҚиғҪзӣҙжҺҘеҒңжӯўгҖӮ\\n- еҝ…й ҲжҸҗдҫӣиҮіе°‘ 3 жўқе…·й«”иЈңд»¶е»әиӯ°пјҢдҫӢеҰӮпјҡжҸҗдҫӣеҸҜзӣҙжҺҘй–Ӣе•ҹзҡ„з”ўе“Ғй ҒгҖҒйҠ·е”®й ҒгҖҒй—ңж–јй ҒгҖҒFAQ й ҒпјҢиІјдёҠжӣҙеӨҡз«¶е“Ғз¶ІеқҖпјҢиЈңе……з”ўе“Ғж–Үеӯ—д»Ӣзҙ№пјҢдёҠеӮіз«¶е“Ғй ҒйқўжҲӘең–пјҢжҲ–еўһеҠ ең–зүҮдёҠеӮіеҲҶжһҗеҠҹиғҪдҫҶи§Јжһҗе»Је‘Ҡзҙ жқҗиҲҮиҗҪең°й Ғз•«йқўгҖӮ\\n\\nијёеҮәж јејҸиҰҒжұӮпјҡ\\n- дҪҝз”Ёз№Ғй«”дёӯж–ҮгҖӮ\\n- и«ӢијёеҮәзҙ”ж–Үеӯ—ж јејҸпјҢдёҚиҰҒдҪҝз”Ё Markdown з¬ҰиҷҹгҖӮ\\n- зҰҒжӯўдҪҝз”Ё #гҖҒ##гҖҒ###гҖҒ*гҖҒ**гҖҒ\\`\\`\\` йҖҷйЎһз¬ҰиҷҹгҖӮ\\n- д»Ҙжё…жҘҡзҡ„ж®өиҗҪжЁҷйЎҢе‘ҲзҸҫпјҢдҫӢеҰӮпјҡз«¶е“Ғж ёеҝғиіЈй»һгҖҒеёӮе ҙз—ӣй»һгҖҒе»Је‘ҠжҰӮеҝөе»әиӯ°гҖҒе»әиӯ°дёӢдёҖжӯҘгҖӮ\\n\\nйҳІе№»иҰәж©ҹеҲ¶пјҡ\\n- еҡҙж јеғ…дҪҝз”Ё <scraped_data> е…§зҡ„иіҮиЁҠйҖІиЎҢеҲҶжһҗгҖӮ\\n- зө•дёҚеҸҜжҚҸйҖ жңӘжҸҗеҸҠзҡ„ж•ёж“ҡгҖҒеҠҹиғҪгҖҒе®ўжҲ¶жЎҲдҫӢжҲ–еёӮдҪ”зҺҮгҖӮ\\n- иӢҘиіҮж–ҷдёҚи¶іпјҢеҸӘиғҪеҒҡжңүйҷҗжҺЁжё¬пјҢдёҰжё…жҘҡжЁҷзӨәжҺЁжё¬еҹәзӨҺгҖӮ\\n\\n<scraped_data>\\n${scrapedData}\\n</scraped_data>`;\nreturn [\n  {\n    json: {\n      workflowType: 'competitor',\n      prompt,\n      scrapedData,\n      productName,\n      market\n    }\n  }\n];"
      },
      "id": "1cfe7c0b-250f-4391-a94f-1174727b78ac",
      "name": "Code - Build Gemini Prompt (Competitor)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "__SERPER_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { q: $json.body.conceptDesc, gl: ($json.body.market ?? 'TW').toLowerCase(), hl: 'zh-tw', num: 3 } }}",
        "options": {}
      },
      "id": "b056b83a-1b99-483a-90bf-1618c8e36ac1",
      "name": "HTTP - Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook - Analyze Market').first().json.body ?? {};\nconst organic = Array.isArray($json.organic) ? $json.organic : [];\nconst links = organic\n  .map((item) => item.link)\n  .filter((link) => typeof link === 'string' && link.trim() !== '')\n  .slice(0, 3);\n\nif (links.length === 0) {\n  throw new Error('Serper жІ’жңүеӣһеӮіеҸҜдҫӣ Firecrawl жҠ“еҸ–зҡ„йҖЈзөҗгҖӮ');\n}\n\nreturn links.map((url, index) => ({\n  json: {\n    workflowType: 'concept',\n    conceptDesc: body.conceptDesc ?? '',\n    market: body.market ?? 'TW',\n    searchUrl: url,\n    searchIndex: index + 1,\n    firecrawlPayload: {\n      url,\n      formats: ['markdown']\n    }\n  }\n}));"
      },
      "id": "cd972fe7-7f0f-44f2-a4f2-6587f4868cf3",
      "name": "Code - Prepare Search URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __FIRECRAWL_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.firecrawlPayload }}",
        "options": {}
      },
      "id": "a600c6e5-18f8-4a8e-a111-76a5e1a4180c",
      "name": "HTTP - Firecrawl Scrape (Concept)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst body = $('Webhook - Analyze Market').first().json.body ?? {};\nconst sections = items.map((item, index) => {\n  const payload = item.json;\n  const sourceUrl = payload.searchUrl ?? payload.firecrawlPayload?.url ?? `дҫҶжәҗ ${index + 1}`;\n  const markdown = payload.data?.markdown ?? payload.markdown ?? payload.content ?? 'иіҮж–ҷдёҚи¶і';\n  return `жҗңе°ӢдҫҶжәҗ ${index + 1}\\nURL: ${sourceUrl}\\n\\n${markdown}`;\n});\nconst scrapedData = sections.join('\\n\\n-----\\n\\n');\nconst conceptDesc = body.conceptDesc ?? 'жңӘжҸҗдҫӣ';\nconst market = body.market ?? 'жңӘжҸҗдҫӣ';\nconst prompt = `дҪ зҸҫеңЁжҳҜдёҖдҪҚе…·еӮҷй Ӯе°–е•ҶжҘӯе—…иҰәзҡ„ SaaS з”ўе“Ғй–ӢзҷјйЎ§е•ҸгҖӮ\\nи«Ӣж №ж“ҡд»ҘдёӢ <scraped_data> зҡ„еёӮе ҙжҗңе°Ӣзөҗжһңе…§ж–ҮпјҢйҮқе°ҚжҲ‘жҸҗеҮәзҡ„з”ўе“ҒжҰӮеҝөйҖІиЎҢеёӮе ҙй©—иӯүиҲҮзҷјжғігҖӮ\\n\\nжҲ‘зҡ„з”ўе“ҒжҰӮеҝөпјҡ${conceptDesc}\\nзӣ®жЁҷеёӮе ҙеҚҖеҹҹпјҡ${market}\\n\\nд»»еӢҷиҰҒжұӮпјҡ\\n1. еёӮе ҙзҸҫжіҒзёҪзөҗпјҡзӣ®еүҚеёӮе ҙдёҠи§ЈжұәйЎһдјје•ҸйЎҢзҡ„ж–№жЎҲжңүе“ӘдәӣпјҢз«¶зҲӯзӢҖж…ӢеҰӮдҪ•гҖӮ\\n2. е·®з•°еҢ–зӘҒеңҚзӯ–з•ҘпјҡжҲ‘зҡ„жҰӮеҝөеңЁе“ӘиЈЎе…·жңүжңүж„Ҹзҫ©зҡ„е·®з•°еҢ–гҖӮ\\n3. е»Је‘ҠжҰӮеҝөзҹ©йҷЈпјҡи«ӢзӮәжҲ‘зҡ„з”ўе“Ғз”ҹжҲҗ 9 еҖӢеӨҡжЁЈеҢ–е»Је‘ҠжҰӮеҝөпјҢеҝ…й Ҳж¶өи“ӢеҶ·еҸ—зңҫгҖҒжә«еҸ—зңҫгҖҒзҶұеҸ—зңҫдёүеҖӢйҡҺж®өпјҢжҜҸйҡҺж®ө 3 еҖӢжҰӮеҝөгҖӮ\\n4. иӢҘиіҮж–ҷе“ҒиіӘдёҚи¶іпјҢдёҚиғҪеҸӘеҒңеңЁиіҮж–ҷдёҚи¶іпјҢеҝ…й ҲжҸҗеҮәе…·й«”иЈңд»¶иҲҮдёӢдёҖжӯҘе»әиӯ°гҖӮ\\n\\nиіҮж–ҷдёҚи¶іжҷӮзҡ„иҷ•зҗҶиҰҸеүҮпјҡ\\n- иӢҘжҗңе°Ӣзөҗжһңдё»иҰҒжҳҜе®үе…Ёй©—иӯүй ҒгҖҒз„Ўжі•и®ҖеҸ–й ҒгҖҒжҘөе°‘е…§е®№й ҒпјҢи«ӢжҳҺзўәжҢҮеҮәзӣ®еүҚиіҮж–ҷдёҚи¶ід»Ҙж”ҜжҢҒе®Ңж•ҙеёӮе ҙеҲӨж–·гҖӮ\\n- д»ҚиҰҒж•ҙзҗҶзӣ®еүҚеҸҜи®ҖеҲ°зҡ„жңүйҷҗиіҮиЁҠпјҢдёҚиғҪзӣҙжҺҘеҒңжӯўгҖӮ\\n- еҝ…й ҲжҸҗдҫӣиҮіе°‘ 3 жўқе…·й«”иЈңд»¶е»әиӯ°пјҢдҫӢеҰӮпјҡиЈңе……жӣҙе®Ңж•ҙзҡ„з”ўе“ҒжҰӮеҝөжҸҸиҝ°гҖҒжҢҮе®ҡжӣҙжҳҺзўәзҡ„еёӮе ҙй—ңйҚөеӯ—гҖҒжҸҗдҫӣеҗҢйЎһз«¶е“Ғз¶ІеқҖгҖҒиІјдёҠе“ҒзүҢе®ҳз¶ІиҲҮз”ўе“Ғй ҒгҖҒдёҠеӮіеёӮе ҙй ҒйқўжҲӘең–жҲ–е»Је‘Ҡзҙ жқҗең–зүҮпјҢжҲ–еўһеҠ ең–зүҮдёҠеӮіеҲҶжһҗеҠҹиғҪгҖӮ\\n\\nијёеҮәж јејҸиҰҒжұӮпјҡ\\n- дҪҝз”Ёз№Ғй«”дёӯж–ҮгҖӮ\\n- и«ӢијёеҮәзҙ”ж–Үеӯ—ж јејҸпјҢдёҚиҰҒдҪҝз”Ё Markdown з¬ҰиҷҹгҖӮ\\n- зҰҒжӯўдҪҝз”Ё #гҖҒ##гҖҒ###гҖҒ*гҖҒ**гҖҒ\\`\\`\\` йҖҷйЎһз¬ҰиҷҹгҖӮ\\n- д»Ҙжё…жҘҡзҡ„ж®өиҗҪжЁҷйЎҢе‘ҲзҸҫпјҢдҫӢеҰӮпјҡеёӮе ҙзҸҫжіҒзёҪзөҗгҖҒе·®з•°еҢ–зӘҒеңҚзӯ–з•ҘгҖҒе»Је‘ҠжҰӮеҝөзҹ©йҷЈгҖҒе»әиӯ°дёӢдёҖжӯҘгҖӮ\\n\\nйҳІе№»иҰәж©ҹеҲ¶пјҡ\\n- зөҗи«–еҝ…й Ҳеҹәж–ј <scraped_data> зҡ„е®ўи§Җе…§е®№пјҢдёҚеҫ—иҮӘиЎҢжғіеғҸең°еҚҖеёӮдҪ”зҺҮжҲ–дёҚеӯҳеңЁзҡ„е“ҒзүҢиіҮж–ҷгҖӮ\\n- иӢҘиіҮж–ҷдёҚи¶іпјҢеҸӘиғҪеҒҡжңүйҷҗжҺЁжё¬пјҢдёҰжё…жҘҡдәӨд»ЈжҺЁжё¬еҹәзӨҺгҖӮ\\n\\n<scraped_data>\\n${scrapedData}\\n</scraped_data>`;\nreturn [\n  {\n    json: {\n      workflowType: 'concept',\n      prompt,\n      scrapedData,\n      conceptDesc,\n      market\n    }\n  }\n];"
      },
      "id": "ff6b21a7-9886-4b70-9967-25eb605e118d",
      "name": "Code - Build Gemini Prompt (Concept)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/\" + \"__GEMINI_MODEL__\" + \":generateContent?key=\" + \"__GEMINI_API_KEY__\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: $json.prompt } ] } ], generationConfig: { temperature: 0.7, topP: 0.9, maxOutputTokens: 4096 } } }}",
        "options": {}
      },
      "id": "6392969c-5a06-4978-a012-989aef9c9297",
      "name": "HTTP - Gemini Generate (Competitor)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://generativelanguage.googleapis.com/v1beta/models/\" + \"__GEMINI_MODEL__\" + \":generateContent?key=\" + \"__GEMINI_API_KEY__\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: $json.prompt } ] } ], generationConfig: { temperature: 0.7, topP: 0.9, maxOutputTokens: 4096 } } }}",
        "options": {}
      },
      "id": "02fbf1df-d6b0-4ea1-b6ae-16c7ef956a28",
      "name": "HTTP - Gemini Generate (Concept)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidates?.[0];\nconst parts = candidate?.content?.parts ?? [];\nconst markdown = parts.map((part) => part.text).filter(Boolean).join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      ok: true,\n      type: 'competitor',\n      result: markdown || 'Gemini жңӘеӣһеӮіе…§е®№гҖӮ',\n      raw: $json\n    }\n  }\n];"
      },
      "id": "757c66d0-2fb2-4820-b042-17b9716ba5ac",
      "name": "Code - Format Response (Competitor)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidates?.[0];\nconst parts = candidate?.content?.parts ?? [];\nconst markdown = parts.map((part) => part.text).filter(Boolean).join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      ok: true,\n      type: 'concept',\n      result: markdown || 'Gemini жңӘеӣһеӮіе…§е®№гҖӮ',\n      raw: $json\n    }\n  }\n];"
      },
      "id": "622e2f98-431e-4193-a270-7a49f7de8c60",
      "name": "Code - Format Response (Concept)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "dd88bf3e-6f13-45b4-97f9-581fc63a0a08",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1488,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Analyze Market": {
      "main": [
        [
          {
            "node": "Switch - Task Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Task Type": {
      "main": [
        [
          {
            "node": "Code - Prepare Competitor URLs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Competitor URLs": {
      "main": [
        [
          {
            "node": "HTTP - Firecrawl Scrape (Competitor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Firecrawl Scrape (Competitor)": {
      "main": [
        [
          {
            "node": "Code - Build Gemini Prompt (Competitor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Gemini Prompt (Competitor)": {
      "main": [
        [
          {
            "node": "HTTP - Gemini Generate (Competitor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Gemini Generate (Competitor)": {
      "main": [
        [
          {
            "node": "Code - Format Response (Competitor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Response (Competitor)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Serper Search": {
      "main": [
        [
          {
            "node": "Code - Prepare Search URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Search URLs": {
      "main": [
        [
          {
            "node": "HTTP - Firecrawl Scrape (Concept)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Firecrawl Scrape (Concept)": {
      "main": [
        [
          {
            "node": "Code - Build Gemini Prompt (Concept)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Gemini Prompt (Concept)": {
      "main": [
        [
          {
            "node": "HTTP - Gemini Generate (Concept)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Gemini Generate (Concept)": {
      "main": [
        [
          {
            "node": "Code - Format Response (Concept)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Response (Concept)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9c2e9581-5ece-47a8-a4af-2b7b9cb19fd9",
  "meta": {
    "instanceId": "b95b8dc9845fc8a66f4915f0a59c417fd2e20164461d41121aa37087852de6a4"
  },
  "id": "__N8N_WORKFLOW_ID__",
  "tags": []
}
