docs/n8n-meta-market-radar-workflow.json
{
  "name": "Meta 廣告概念生成引擎",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-market",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_AnalyzeMarket",
      "name": "Webhook - Analyze Market",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        180
      ],
      "webhookId": "__FILL_WEBHOOK_ID__"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "competitor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.type }}",
                    "rightValue": "concept",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "Switch_ByType",
      "name": "Switch - Task Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1040,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\nconst urls = Array.isArray(body.urls) ? body.urls.filter((url) => typeof url === 'string' && url.trim() !== '') : [];\n\nif (!body.productName || urls.length === 0) {\n  throw new Error('competitor 流程需要 productName 與至少一個 urls。');\n}\n\nreturn urls.map((url, index) => ({\n  json: {\n    workflowType: 'competitor',\n    productName: body.productName,\n    market: body.market ?? 'TW',\n    originalUrl: url,\n    scrapeIndex: index + 1,\n    firecrawlPayload: {\n      url,\n      formats: ['markdown']\n    }\n  }\n}));"
      },
      "id": "Code_PrepareCompetitorUrls",
      "name": "Code - Prepare Competitor URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __FIRECRAWL_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.firecrawlPayload }}",
        "options": {}
      },
      "id": "HTTP_FirecrawlCompetitor",
      "name": "HTTP - Firecrawl Scrape (Competitor)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst body = $('Webhook - Analyze Market').first().json.body ?? {};\nconst projectName = body.projectName?.trim() || body.productName?.trim() || '未命名專案';\nconst executionContext = body.executionContext ?? {};\n\nconst cleanText = (value) => String(value ?? '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst limitText = (value, maxChars) => {\n  const text = cleanText(value);\n  if (text.length <= maxChars) return text || '資料不足';\n  return text.slice(0, maxChars) + '\\n[已裁切：保留前段重點，避免模型輸出被 MAX_TOKENS 截斷]';\n};\n\nconst sections = items.map((item, index) => {\n  const payload = item.json;\n  const sourceUrl = payload.originalUrl ?? payload.firecrawlPayload?.url ?? '來源 ' + (index + 1);\n  const markdown = payload.data?.markdown ?? payload.markdown ?? payload.content ?? '資料不足';\n  return '來源 ' + (index + 1) + '\\nURL: ' + sourceUrl + '\\n\\n' + limitText(markdown, 2200);\n});\nconst scrapedData = limitText(sections.join('\\n\\n-----\\n\\n'), 7200);\nconst productName = body.productName ?? '未提供';\nconst market = body.market ?? '未提供';\nconst prompt = '你現在是一位頂尖的 Meta 廣告策略顧問與市場分析師。\\n'\n  + '請根據以下 <scraped_data> 內的競品網頁文字，產出可直接給商務端閱讀的專業分析。\\n\\n'\n  + '補充執行上下文：\\n'\n  + '- 專案名稱：' + projectName + '\\n'\n  + '- 執行階段：第一階段市場洞察\\n'\n  + '- 本次點數成本：' + (executionContext.pointCost ?? 1) + ' 點\\n\\n'\n  + '任務要求：\\n'\n  + '1. 提煉競品核心賣點：總結這幾個競品主打的最大優勢。\\n'\n  + '2. 找出市場痛點：根據頁面內容，推斷消費者未被滿足的渴望、顧慮或抱怨。\\n'\n  + '3. 多樣化概念建議：針對我的產品提出 5 個完全不同的廣告切入概念，每個概念都必須包含：概念名稱、目標客群、切入痛點、文案方向。\\n'\n  + '4. 若資料品質不足，不能只停在「資料不足」；必須額外輸出「建議下一步」，具體告訴使用者如何補件，讓系統下次能拿到可分析資料。\\n\\n'\n  + '補充產品資訊：\\n'\n  + '我的產品名稱：' + productName + '\\n'\n  + '目標市場：' + market + '\\n\\n'\n  + '輸出格式要求：\\n'\n  + '- 使用繁體中文。\\n'\n  + '- 請輸出純文字格式，不要使用 Markdown 符號。\\n'\n  + '- 禁止使用 #、##、###、*、**、程式碼區塊符號。\\n'\n  + '- 以清楚段落標題呈現：競品核心賣點、市場痛點、廣告概念建議、建議下一步。\\n'\n  + '- 目標總字數 1200 到 1800 字；每段完整收尾，不要在句子中途停止。\\n\\n'\n  + '防幻覺機制：\\n'\n  + '- 嚴格僅使用 <scraped_data> 內的資訊進行分析。\\n'\n  + '- 絕不可捏造未提及的數據、功能、客戶案例或市佔率。\\n'\n  + '- 若資料不足，只能做有限推測，並清楚標示推測基礎。\\n\\n'\n  + '<scraped_data>\\n' + scrapedData + '\\n</scraped_data>';\nreturn [{ json: { workflowType: 'competitor', projectName, prompt, scrapedData, productName, market, executionContext } }];"
      },
      "id": "Code_BuildCompetitorPrompt",
      "name": "Code - Build Gemini Prompt (Competitor)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "__SERPER_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { q: $json.body.conceptDesc, gl: ($json.body.market ?? 'TW').toLowerCase(), hl: 'zh-tw', num: 3 } }}",
        "options": {}
      },
      "id": "HTTP_SerperSearch",
      "name": "HTTP - Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook - Analyze Market').first().json.body ?? {};\nconst organic = Array.isArray($json.organic) ? $json.organic : [];\nconst links = organic\n  .map((item) => item.link)\n  .filter((link) => typeof link === 'string' && link.trim() !== '')\n  .slice(0, 3);\n\nif (links.length === 0) {\n  throw new Error('Serper 沒有回傳可供 Firecrawl 抓取的連結。');\n}\n\nreturn links.map((url, index) => ({\n  json: {\n    workflowType: 'concept',\n    conceptDesc: body.conceptDesc ?? '',\n    market: body.market ?? 'TW',\n    searchUrl: url,\n    searchIndex: index + 1,\n    firecrawlPayload: {\n      url,\n      formats: ['markdown']\n    }\n  }\n}));"
      },
      "id": "Code_PrepareConceptUrls",
      "name": "Code - Prepare Search URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer __FIRECRAWL_API_KEY__"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.firecrawlPayload }}",
        "options": {}
      },
      "id": "HTTP_FirecrawlConcept",
      "name": "HTTP - Firecrawl Scrape (Concept)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst body = $('Webhook - Analyze Market').first().json.body ?? {};\nconst projectName = body.projectName?.trim() || body.conceptDesc?.slice(0, 30) || '未命名專案';\nconst executionContext = body.executionContext ?? {};\nconst referenceUrls = Array.isArray(body.referenceUrls) ? body.referenceUrls.filter((url) => typeof url === 'string' && url.trim() !== '') : [];\n\nconst cleanText = (value) => String(value ?? '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst limitText = (value, maxChars) => {\n  const text = cleanText(value);\n  if (text.length <= maxChars) return text || '資料不足';\n  return text.slice(0, maxChars) + '\\n[已裁切：保留前段重點，避免模型輸出被 MAX_TOKENS 截斷]';\n};\n\nconst sections = items.map((item, index) => {\n  const payload = item.json;\n  const sourceUrl = payload.searchUrl ?? payload.firecrawlPayload?.url ?? '來源 ' + (index + 1);\n  const markdown = payload.data?.markdown ?? payload.markdown ?? payload.content ?? '資料不足';\n  const sourceLabel = payload.sourceType === 'reference' ? '參考網站' : '搜尋來源';\n  return sourceLabel + ' ' + (index + 1) + '\\nURL: ' + sourceUrl + '\\n\\n' + limitText(markdown, 1800);\n});\nconst scrapedData = limitText(sections.join('\\n\\n-----\\n\\n'), 7600);\nconst conceptDesc = body.conceptDesc ?? '未提供';\nconst market = body.market ?? '未提供';\nconst referenceContext = referenceUrls.length > 0\n  ? '\\n使用者另外提供的參考網址：\\n' + referenceUrls.map((url, index) => (index + 1) + '. ' + url).join('\\n') + '\\n'\n  : '\\n使用者未另外提供參考網址。\\n';\nconst prompt = '你現在是一位具備頂尖商業嗅覺的 SaaS 產品開發顧問。\\n'\n  + '請根據以下 <scraped_data> 的市場搜尋結果與參考網站內文，針對我提出的產品概念進行市場驗證與發想。\\n\\n'\n  + '補充執行上下文：\\n'\n  + '- 專案名稱：' + projectName + '\\n'\n  + '- 執行階段：第一階段市場洞察\\n'\n  + '- 本次點數成本：' + (executionContext.pointCost ?? 1) + ' 點\\n\\n'\n  + '我的產品概念：' + conceptDesc + '\\n'\n  + '目標市場區域：' + market + referenceContext\n  + '任務要求：\\n'\n  + '1. 市場現況總結：目前市場上解決類似問題的方案有哪些，競爭狀態如何。\\n'\n  + '2. 差異化突圍策略：我的概念在哪裡具有有意義的差異化。\\n'\n  + '3. 廣告概念矩陣：請為我的產品生成 9 個多樣化廣告概念，必須涵蓋冷受眾、溫受眾、熱受眾三個階段，每階段 3 個概念。\\n'\n  + '4. 若資料品質不足，不能只停在資料不足，必須提出具體補件與下一步建議。\\n'\n  + '5. 若使用者提供了參考網站，請明確區分哪些洞察來自搜尋市場資料，哪些洞察來自使用者提供的參考網站。\\n\\n'\n  + '輸出格式要求：\\n'\n  + '- 使用繁體中文。\\n'\n  + '- 請輸出純文字格式，不要使用 Markdown 符號。\\n'\n  + '- 禁止使用 #、##、###、*、**、程式碼區塊符號。\\n'\n  + '- 以清楚段落標題呈現：市場現況總結、差異化突圍策略、廣告概念矩陣、建議下一步。\\n'\n  + '- 目標總字數 1400 到 2200 字；每段完整收尾，不要在句子中途停止。\\n\\n'\n  + '防幻覺機制：\\n'\n  + '- 結論必須基於 <scraped_data> 的客觀內容，不得自行想像地區市佔率或不存在的品牌資料。\\n'\n  + '- 若資料不足，只能做有限推測，並清楚交代推測基礎。\\n\\n'\n  + '<scraped_data>\\n' + scrapedData + '\\n</scraped_data>';\nreturn [{ json: { workflowType: 'concept', projectName, prompt, scrapedData, conceptDesc, market, referenceUrls, executionContext } }];"
      },
      "id": "Code_BuildConceptPrompt",
      "name": "Code - Build Gemini Prompt (Concept)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/' + ($json.workflowType === 'competitor' ? '__GEMINI_MODEL__' : '__GEMINI_MODEL__') + ':generateContent?key=__GEMINI_API_KEY__' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: $json.prompt } ] } ], generationConfig: { temperature: 0.5, topP: 0.85, maxOutputTokens: 8192, thinkingConfig: { thinkingBudget: 0 } } } }}",
        "options": {}
      },
      "id": "HTTP_GeminiCompetitor",
      "name": "HTTP - Gemini Generate (Competitor)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/' + '__GEMINI_MODEL__' + ':generateContent?key=__GEMINI_API_KEY__' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: $json.prompt } ] } ], generationConfig: { temperature: 0.5, topP: 0.85, maxOutputTokens: 8192, thinkingConfig: { thinkingBudget: 0 } } } }}",
        "options": {}
      },
      "id": "HTTP_GeminiConcept",
      "name": "HTTP - Gemini Generate (Concept)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidates?.[0];\nconst parts = candidate?.content?.parts ?? [];\nconst markdown = parts.map((part) => part.text).filter(Boolean).join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      ok: true,\n      type: 'competitor',\n      result: markdown || 'Gemini 未回傳內容。',\n      raw: $json\n    }\n  }\n];"
      },
      "id": "Code_FormatCompetitorResponse",
      "name": "Code - Format Response (Competitor)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "const candidate = $json.candidates?.[0];\nconst parts = candidate?.content?.parts ?? [];\nconst markdown = parts.map((part) => part.text).filter(Boolean).join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      ok: true,\n      type: 'concept',\n      result: markdown || 'Gemini 未回傳內容。',\n      raw: $json\n    }\n  }\n];"
      },
      "id": "Code_FormatConceptResponse",
      "name": "Code - Format Response (Concept)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "RespondToWebhook_Final",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        180
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Analyze Market": {
      "main": [
        [
          {
            "node": "Switch - Task Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Task Type": {
      "main": [
        [
          {
            "node": "Code - Prepare Competitor URLs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP - Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Competitor URLs": {
      "main": [
        [
          {
            "node": "HTTP - Firecrawl Scrape (Competitor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Firecrawl Scrape (Competitor)": {
      "main": [
        [
          {
            "node": "Code - Build Gemini Prompt (Competitor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Gemini Prompt (Competitor)": {
      "main": [
        [
          {
            "node": "HTTP - Gemini Generate (Competitor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Gemini Generate (Competitor)": {
      "main": [
        [
          {
            "node": "Code - Format Response (Competitor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Response (Competitor)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Serper Search": {
      "main": [
        [
          {
            "node": "Code - Prepare Search URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Search URLs": {
      "main": [
        [
          {
            "node": "HTTP - Firecrawl Scrape (Concept)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Firecrawl Scrape (Concept)": {
      "main": [
        [
          {
            "node": "Code - Build Gemini Prompt (Concept)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Gemini Prompt (Concept)": {
      "main": [
        [
          {
            "node": "HTTP - Gemini Generate (Concept)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Gemini Generate (Concept)": {
      "main": [
        [
          {
            "node": "Code - Format Response (Concept)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Response (Concept)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7f0f865-5b9d-4f14-94f6-7c72d0e85111",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "__N8N_WORKFLOW_ID__",
  "tags": []
}
